#left_column {
	width: 200px;
	float: left;
}

#left_column p {
	font: 10px "Arial";
	color: #000;
	margin: 5px;
	text-align: justify;
}


#center_column {
	width: 580px;
	float: left;
	margin: 0 10px;
}

#right_column {
	width: 200px;
	float: left;
}

#right_column p {
	font: 10px "Arial";
	color: #000;
	margin: 5px;
	text-align: justify;
}